<html>
  <head>
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">  
       <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
       <link rel="stylesheet" href="/static/style/style.css">
  </head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">WebNetHack</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Login</a></li>
    </ul>
</div>

<div class="banner">
  <h1 class="banner-head">
        Welcome to WebNetHack.<br>
  </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-1">
                <div class="play-button">
                    <span id="play-button" class="pricing-table-price">
                        Play!
                    </span>
                </div>
        </div>
    </div> <!-- end pricing-tables -->

    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-1">
            <div class="l-box">
                <h3 class="information-head">NetHack?</h3>
                <p>
                    NetHack is a single player dungeon exploration game that runs on a wide variety of computer systems, with a variety of graphical and text interfaces all using the same game engine. Unlike many other Dungeons & Dragons-inspired games, the emphasis in NetHack is on discovering the detail of the dungeon and not simply killing everything in sight - in fact, killing everything in sight is a good way to die quickly. Each game presents a different landscape - the random number generator provides an essentially unlimited number of variations of the dungeon and its denizens to be discovered by the player in one of a number of characters: you can pick your race, your role, and your gender.</br>
                    If you want more information, go <a href="http://www.nethack.org">NetHack</a> website.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-1">
            <div class="l-box">
                <h3 class="information-head">Why WebNetHack?</h3>
                <p>
                  If you want "to" put up your game, playing on "a" server can be a good solution. Also, the server "saves" your game "turn by turn", so you don't have to worry about "losing" your save file. This site is the only one "website" that "you can" play NetHack tile version on server-side "auto-save platform".
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        Made by <a href='https://github.com/mango-tree/'>mango-tree</a>, <a href='https://github.com/rocky112358'>SleepyBear</a>, <a href='https://github.com/queued37'>queued37</a>, and <a href='https://github.com/DryRain15'>DryRain15</a>
    </p>
</div>
</body>
</html>
